<h1>Account Management</h1>

  <% if (message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <p>You're logged in</p>