
<h1>Welcome to CSE Motors</h1>
<div id="delorean-hero">
    <div id="hero-ad">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>

        <div id="own-btn">Own Today</div>
    </div>
</div>

<div id="content">
    <div>
        <h3>Delorean Upgrades</h3>
        
        <div id="upgrades">

            <div class="upgrade">
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor img">
                <a href="###">Flux Capacitor</a>
            </div>
        
            <div class="upgrade">
                <img src="/images/upgrades/flame.jpg" alt="flame decals img">
                <a href="###">Flame Decals</a>
            </div>
        
            <div class="upgrade">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker img">
                <a href="###">Bumper Stickers</a>
            </div>
        
            <div class="upgrade">
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps img">
                <a href="###">Hub Caps</a>
            </div>
        
        </div>
    </div>
    

    <div>
        <h3>DMC Delorean Reviews</h3>
        <ul id="reviews">
            <li>"So fast it's like I'm traveling through time!" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"Most futuristic ride of our day" (4.5/5)</li>
            <li>"80s living and I love it!" (5/5)</li>
        </ul>
    </div>
    
</div>

